* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.card {
  width: 37.5rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  border-radius: 2rem;
}

.card img {
  width: 33.5rem;
  align-self: center;
  border-radius: 1.2rem;
}

.tag {
  width: min-content;
  background-color: hsl(47, 88%, 63%);
  padding: .6rem 1.2rem;
  border-radius: .6rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
}

.published {
  color: hsl(0, 0%, 7%);
  font-size: 1.6rem;
  margin-top: 1.4rem;
}

.title {
  color: hsl(0, 0%, 7%);
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 2rem;
}

.description {
  color: hsl(0, 0%, 50%);
  font-size: 1.6rem;
  margin-top: 1.4rem;
}

.author {
  color: hsl(0, 0%, 7%);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.author-img img {
  width: 48px;
}